// // Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');
// // Variables
 @import 'variables';
// // Bootstrap
 @import 'bootstrap/scss/bootstrap';

// SBAdmin Template
@import 'sb-admin';
@import 'iconic';
@import 'home';
@import 'product';

// Custom Styles
.imgCardBack {
    background-color: rgb(255 255 255 / 10%);
    margin-bottom: 35%;
    width: 23%;
    padding: 2%;
    border-radius: 0.7em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s linear;
    margin: 1%;
}
.imgCardBack:hover{
    //faz uma transação em que fique maior, desfocado e em 0.5 segundos
    transform: scale(1.05);
    transition: transform 0.15s;
    background-color: rgb(255 255 255 / 20%);
}
.customShirtBack{
    background-color: rgb(255 255 255 / 10%);
    width: 100%;
    padding-top: 2%;
    border-radius: 0.7em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: 0.2s linear;
}
.buttonCards{
    background-color: transparent;
    align-items: end;
    padding: 0%;
    width: auto;
    height: auto;
    margin-top: 0.5em;

}
.buttonCards:hover{
    background-color: transparent;
    color: rgb(220, 220, 220);
    transition: transform 0.02s;
}
.background {
    background-color: #171923;
}
.tablesBG, #checkout {
    background-color: rgb(255 255 255 / 10%);
    border-radius: 0.4em;
}
table th, table td, table tr {
    color: rgb(220, 220, 220) !important;
}
div#checkout h4, div#checkout span{
    color: rgb(220, 220, 220) !important;
}
div#coupon{
    margin-left: 8%;
}
.min-height250 {
    min-height: 250px;
}
.min-height100 {
    min-height: 100px;
}
.center{
    text-align: center;
    margin: auto;
}
img{
    max-height: 220px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}
.textCardBack{
    color: rgb(158, 158, 158);
    text-align: justify;
}
.titleCardBack{
    color: rgb(220, 220, 220);
    text-align: left;
    font-size: 1.25em;
    margin-bottom: 0.35em;
}
.zmdi-shopping-cart-add:before {
    content: '\f1ca'
}
.Paddingbt5{
    padding-bottom: 5%;
}
.Paddintp5{
    padding-top: 5%;
}
.Margintp5{
    margin-top: 5%;
}
.icon{
    width: 10px;
    font-size: 1.425em;
    font-weight: 1000;
    vertical-align: bottom;
}
.iconBigger{
    width: 10px;
    font-size: 2.5em;
    font-weight: 1000;
    vertical-align: bottom;
    margin-left: 0.5em;
}
.linkBranco{
    text-decoration: none;
    color: white;
}
